* {
  border: 1px solid lime;
}
.container {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  background-color: red;
  color: white;
  align-items: center;
  padding: 50px;
}
.container p {
  font-size: 24px;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
  padding-right: 200px;
}

.column {
  flex-direction: column;
}

.space {
  justify-content: space-between;
}
