/* {
  border: 1px solid lime;
}*/

header {
  background-color: red;
  padding: 1.5rem;
}
header img {
  display: block;
  margin: 1rem auto;
}
.content-container {
  max-width: 530px;
  margin: 0 auto;
}
.container img {
  max-height: 50px;
  margin: 10px;
}
.container p {
  font-size: 24px;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
  padding-right: 200px;
}

.column {
  flex-direction: column;
}

.space {
  justify-content: space-between;
}

:root {
  --primary-red: #e50914;
  --primary-black: #000000;
  --primary-white: white;

  --text-lightest: #ffffff;
  --text-dark-gray: #8c8c8c;
  --text-gray: #757575;
  --text-light-gray: #999999;

  --bg-lightest: #ffffff;
  --bg-black: #000000;
  --bg-gray: #222222;
  --bg-light-gray: #303030;
}

.white {
  color: var(--primary-white);
}
.red {
  color: var(--primary-red);
}

.gap-l {
  margin: 1.5rem auto;
}

.font {
  font-size: 2rem;
  font-weight: bold;
}

.font-s {
  font-size: 30px;
}
.font-w {
  font-size: 20px;
  font-weight: 400;
  line-height: 2.2rem;
}
.font-x {
  font-size: 20px;
  font-weight: 500;
  line-height: 56px;
}
.flex {
  display: flex;
}

.padding-l {
  padding-top: 1rem;
}
.padding-xl {
  padding-top: 4rem;
}
.raddio {
  width: 100px;
  height: 19px;
  top: 5.38px;
}
.center {
  text-align: center;
}
input[type="radio"] {
  margin-right: 5px;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: 1.5;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
}

.column-check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkbox-item {
  display: flex;
  align-items: center;
}
.size-boyut3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.bold {
  font-weight: bold;
}
.gap-label {
}
.label-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  gap: 1rem;
}
.seperator {
  border-top: 1px solid #ccc;
  width: 50vw;
}
.seperator-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.radius {
  border-radius: 5px;
  max-width: 50vw;
  height: 7vh;
}
.orders-note {
  gap: 1.5rem;
}
.order-total-container {
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 50vw;
  margin: 0 auto;
  border: 2px solid #ccc; /* Border ekle */
  display: flex;
  flex-direction: column; /* Column hizalama */
  align-items: ;
}
.order-total-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.order-total-container p {
  font-size: 18px;
  margin: 5px 0;
}
.order-total-container span {
  font-weight: bold;
}
.quantity-control {
  display: flex;
  justify-content: center; /* Ortala */
  align-items: center;
  margin: 30px 0;
}
.quantity-control button {
  background-color: #fdc913;

  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}
.quantity-control span {
  margin: 0 15px;
  font-size: 24px;
}
.order-button {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}
.quantity-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
}
